.company-crop-cnt {
 margin-top: 10px;
}

.company-crop-cnt img {
 width: 100%;
 height: 200px;
 background-color: rgba(0,0,0, .2);
}

.company-crop-preview-cnt {
 padding: 10px;
 background-color: rgba(0,0,0, .35);
 text-align: center;
}

.company-crop-preview-cnt img {
 background-color: rgba(0,0,0, .75);
}
