$('body').append("<%= escape_javascript(render(partial: "amaretti/companies/add_image_form_with_crop"))%>");

openPopup('#addImagePopupWithCrop');

handleCompanyCropInput();
handleSendCroppedImageBtn($('.company-crop-cnt img')[0].src.split('/').pop());
