- field = params[:f]
- field_class = @company.send(field).class

#addImagePopupWithCrop.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', data: {dismiss: 'modal'}} Закрыть &times;
        %h4.modal-title= I18n.t("activerecord.attributes.company.#{field}")

      .form-horizontal
        .modal-body

          .form-group
            .col-sm-12
              %input#initial-crop-img{'type' => 'file'}
            .col-sm-12
              .company-crop-cnt
                - if params[:image_url]
                  %img{'src' => "#{params[:image_url]}"}
                - else
                  %img
              .company-crop-preview-cnt
                %img{ style: "width: #{field_class::MAX_WIDTH}px; height: #{field_class::MAX_HEIGHT}px;" }
          %input#send-cropped-img-btn.btn.btn-main{'type' => 'submit', 'value' => 'Загрузить', 'disabled' => 'true'}
          = hidden_field_tag 'field_name', field, data: {'company-id': @company.id}

          .form-group
            .col-sm-12
              %p.help-block
                %i
                  1) К загрузке допускаются файлы с расширениями <b>*.jpg, *.jpeg, *.png, *.gif</b>
              %p.help-block
                %i
                  2) Если загружаемое изображение по соотношению ширины и высоты<br> не вписывается в прямоугольник <b>[
                  = field_class::MAX_WIDTH
                  x
                  = field_class::MAX_HEIGHT
                  ]</b> пикселей,<br> то оно будет отмасштабировано до подходящих размеров
