- image = company.send(field.to_sym)
.form-group.image_block{id: field}
  %label.control-label.col-sm-4{class: (field == "logo_image" || field == "stamp_image" ? "short" : "")}= I18n.t('activerecord.attributes.company.' + field)
  .col-sm-8
    - if image && image.url
      %p
        - url = "/uploads/#{field}/#{company.id}/#{File.basename(image.url)}"
        %img{src: url, alt: "image"}
        = check_box_tag "company[remove_#{field}]", false, {}, class: "hide"
        %a{onclick: "return toggleImageBlock(this);", href: 'javascript:void(0);'} убрать
    - if field == 'stamp_image' || field == 'signature_ruk_image' || field == 'signature_buh_image'
      %p= link_to (image && image.url ? "заменить" : "загрузить"), add_image_company_path(company, f: field, crop: true, image_url: url), remote: true, target: "_blank"
    - else
      %p= link_to (image && image.url ? "заменить" : "загрузить"), add_image_company_path(company, f: field), remote: true, target: "_blank"
    -#%a.js_link{onclick: "return openImageForm(this);"}=
