<%= remotipart_response({:escape => false}) do %>
  <% if @company.send(@field).url %>
    $("#<%= @field %>.image_block").replaceWith("<%= escape_javascript(render(partial: "amaretti/companies/image_block", locals: {company: @company, field: @field})) %>").flash();
  <% end %>
  $("#addImagePopup").trigger('closeModal');
  $("#addImagePopupWithCrop").trigger('closeModal');
<% end %>
